<img ng-src="theme/img/alertLightOn.png" ng-if="alert.LightOn" />
<img ng-src="theme/img/alertLightOff.png" ng-if="alert.LightOff" />
<img ng-src="theme/img/alertCold.png" ng-if="alert.Cold" />
<img ng-src="theme/img/alertHot.png" ng-if="alert.Hot" />
<img ng-src="theme/img/alertCriticalCold.png" ng-if="alert.CriticalCold" />
<img ng-src="theme/img/alertCriticalHot.png" ng-if="alert.CriticalHot" />
<img ng-src="theme/img/alertBattery.png" ng-if="alert.Battery" />
<img ng-src="theme/img/alertShock.png" ng-if="alert.MovementStart" />