<div class="portlet box green mainbox">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-truck fa-lg"></i>
            <span>Temperature Readings for Tracker {{trackerInfo.deviceSN}} Trip {{trackerInfo.tripCount}} as of {{RunningTime}}</span>
        </div>
        <div class="tools hidden-print">
            <button class="btn default btn-sm uppercase" type="button" ng-click="Print()">
                <i class="fa fa-print"></i>
                <span>Print</span>
            </button>
        </div>
    </div>
    <div class="portlet-body" style="padding: 0!important;">
        <div class="container-fluid">
            <div class="row" style="margin-bottom: 25px;margin-top:15px">
                <div class="col-sm-3 col-xs-12">
                    <div>
                        <strong>Shipment Description</strong>
                        <span>{{trackerInfo.shipmentDescription}}</span>
                    </div>
                    <div>
                        <strong>Comment</strong>
                        <span>{{trackerInfo.commentsForReceiver}}</span>
                    </div>
                    <div ng-show="trackerInfo.assetNum"><strong>Asset Num:</strong><span>{{trackerInfo.assetNum}}</span></div>
                    <div ng-show="trackerInfo.assetType"><strong>Asset Type:</strong><span>{{trackerInfo.assetType}}</span></div>
                    <div ng-show="trackerInfo.palletId"><strong>Pallet ID:</strong><span>{{trackerInfo.palletId}}</span></div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div>
                        <strong>Shipped From</strong>
                        <span>{{trackerInfo.startLocation}}</span>
                    </div>
                    <div>
                        <strong>Date Shipped</strong>
                        <span>{{trackerInfo.startTime}}</span>
                    </div>
                    <div>
                        <strong>Shipped To</strong>
                        <span>{{trackerInfo.endLocation}}</span>
                    </div>
                    <div>
                        <strong>Time of Arrival</strong>
                        <span>{{trackerInfo.arrivalTime}}</span>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div>
                        <strong>Current status</strong>
                        <span>{{trackerInfo.status}}</span>
                    </div>
                    <div>
                        <strong>Schedule(s)</strong>
                        <div ng-repeat="p in trackerInfo.alertsNotificationSchedules">
                            {{p.notificationScheduleName}}
                            <span ng-show="p.index != trackerInfo.alertsNotificationSchedules.length - 1">,</span>
                        </div>
                    </div>
                    <div>
                        <strong>Time of shutdown</strong>
                        {{trackerInfo.shutdownTime}}
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div>
                        <strong>Alert Profile</strong>
                        <span>{{trackerInfo.alertProfileName}}</span>
                    </div>
                    <div>
                        <strong>Alerts Fired</strong>
                        <div ng-repeat="al in trackerInfo.alertYetToFire">
                            {{al}}
                        </div>
                    </div>
                    <div>
                        <strong>Notify when</strong>
                        <span>{{trackerInfo.arrivalNotificationWithinKm}} Km away</span>
                    </div>
                    <div><strong>Notified at</strong>
                        <span>{{trackerInfo.arrivalNotificationTime}}</span></div>
                    <div>
                        <strong>Who to notify</strong>
                        <span>{{trackerInfo.alertPeopleToNotify}}</span>
                    </div>
                </div>
            </div>

            <!--Table-->
            <hr>
            <table class="table table-responsive">
                <tr>
                    <th>Time of Reading</th>
                    <th>Temperature</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Type</th>
                    <th>Alert</th>
                </tr>
                <tr ng-repeat="loc in trackerInfo.locations">
                    <td>{{loc.timeISO}}</td>
                    <td>{{loc.temperature | temperature}}</td>
                    <td>{{loc.lat}}</td>
                    <td>{{loc.long}}</td>
                    <td>{{loc.type}}</td>
                    <td>
                        <div ng-repeat="alert in loc.alerts">
                            {{alert.title}}
                            <!--show alert-->
                            <img ng-src="theme/img/alertLightOn.png" ng-if="alert.type=='LightOn'" />
                            <img ng-src="theme/img/alertLightOff.png" ng-if="alert.type=='LightOff'" />
                            <img ng-src="theme/img/alertCold.png" ng-if="alert.type=='Cold'" />
                            <img ng-src="theme/img/alertHot.png" ng-if="alert.type=='Hot'" />
                            <img ng-src="theme/img/alertCriticalCold.png" ng-if="alert.type=='CriticalCold'" />
                            <img ng-src="theme/img/alertCriticalHot.png" ng-if="alert.type=='CriticalHot'" />
                            <img ng-src="theme/img/alertBattery.png" ng-if="alert.type=='Battery'" />
                            <img ng-src="theme/img/alertShock.png" ng-if="alert.type=='MovementStart'" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
