<div class="">
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <img style="margin-top:-8px" src="theme/img/headerNewShipment.png" /> Create new shipment with autostart shipment template
            </div>
            <div class="tools hidden-print">
                <button class="btn default btn-sm uppercase" type="button" ng-click="Print()">
                    <i class="fa fa-print"></i>
                    <span>Print</span>
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="container-fluid">
                <div class="row">
                    <span>Autostart Shipment(s) are based on Autostart Templates, which are assigned to each device in
                        <a href="#/tracker">Trackers</a>
                    page.</span>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <span>There are two ways to create an Autostart Shipment:</span>
                </div>

                <div class="row">
                        <table width="100%">
                            <tr>
                                <td width="33%" class="text-center">1. Switch on a device</td>
                                <td width="4%">
                                    <div class="wrapper">
                                        <div class="line"></div>
                                        <div class="wordwrapper"><div class="word">or</div></div>
                                    </div>
                                    ​</td>
                                <td width="63%" style="padding-left: 50px;">
                                    <div>2. Choose a tracker and hit "Create Autostart Shipment".</div>
                                    <div>Note. The tracker must already be switched on.</div>
                                    <form role="form" name="frmAddNewShipment" id="frmAddNewShipment" novalidate class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label class="control-label">
                                                        <span>Tracker</span>
                                                        <i uib-tooltip="Choose a device from the list below to create an autostart shipment"
                                                           tooltip-append-to-body="true"
                                                           tooltip-trigger="mouseenter"
                                                           tooltip-placement="top"
                                                           class="fa fa-info-circle"></i>
                                                    </label>
                                                    <ui-select ng-model="VM.tracker"
                                                               theme="bootstrap"
                                                               style="width: 100%"
                                                               title="Choose a tracker">
                                                        <ui-select-match placeholder="-- Please Select --">{{$select.selected.name}}</ui-select-match>
                                                        <ui-select-choices repeat="tker in VM.trackers track by $index"
                                                                           refresh="refreshAddresses($select.search)"
                                                                           refresh-delay="0">
                                                            <div class="container-fluid">
                                                                <div class="row">
                                                                    <span ng-bind-html="tker.sn | highlight: $select.search"></span>
                                                                    <span>-</span>
                                                                    <span ng-bind-html="tker.name | highlight: $select.search"></span>
                                                                </div>
                                                            </div>
                                                            <small>
                                                                AutoStart Template:{{tker.autostartTemplateName}}
                                                            </small>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <small ng-if="VM.tracker">
                                                        <span ng-if="VM.tracker.autostartTemplateId">Using this AutoStart Template: {{VM.tracker.autostartTemplateName}}</span>
                                                        <span ng-if="!VM.tracker.autostartTemplateId" class="text-danger">This tracker has no assigned AutoStart Template</span>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-actions text-center ab">
                                            <button class="btn green" form="frmAddNewShipment" ng-click="VM.createNewAutoStartShipment(frmAddNewShipment.$valid)" type="submit">Create AutoStart Shipment</button>
                                            <button class="btn default" type="button" ng-click="VM.ResetForm()">Reset</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>