<div class="">
    <div class="portlet box green ">
        <div class="portlet-title">
            <div class="caption">
                <img style="margin-top:-8px" src="theme/img/headerNewShipment.png" /> Create a new shipment manually and stop current shipment
            </div>
            <div class="tools hidden-print">
                <button class="btn default btn-sm uppercase" type="button" ng-click="Print()">
                    <i class="fa fa-print"></i>
                    <span>Print</span>
                </button>
            </div>
        </div>
        <div class="portlet-body">
            <div class="container-fluid">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <span style="font-weight: 700">There are two ways to create a Shipment:</span>
                </div>

                <div class="row">
                        <table width="100%">
                            <tr>
                                <td width="33%" class="text-center">
                                    <p>
                                        <span class="word">1.</span><strong>Autostart Shipment</strong></p>
                                    Switch on a tracker. This creates a Shipment using the Autostart Template.
                                </td>
                                <td width="4%">
                                    <div class="wrapper">
                                        <div class="line"></div>
                                        <div class="wordwrapper"><div class="word">or</div></div>
                                    </div>
                                    ​</td>
                                <td width="63%" style="padding-left: 50px;">
                                    <div class="text-center">
                                        <p><span class="word"> 2.</span><strong>Manual Shipment</strong></p>
                                        <p>If the tracker is already switched on, choose it below and hit "Create Shipment".</p>
                                        <p>This will stop the current shipment and create a new shipment using the Autostart Template.</p>
                                    </div>
                                    <form role="form" name="frmAddNewShipment" id="frmAddNewShipment" novalidate class="form-horizontal">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <div class="col-md-10">
                                                    <label class="control-label">
                                                        <span>Tracker</span>
                                                        <i uib-tooltip="Choose a tracker from the list to create a Manual Shipment"
                                                           tooltip-append-to-body="true"
                                                           tooltip-trigger="mouseenter"
                                                           tooltip-placement="top"
                                                           class="fa fa-info-circle"></i>
                                                    </label>
                                                    <ui-select ng-model="VM.tracker"
                                                               theme="bootstrap"
                                                               style="width: 100%"
                                                               title="Choose a tracker">
                                                        <ui-select-match placeholder="-- Please Select --">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <div ng-style="{width: '15px', height: '15px', 'margin-right':'10px', 'background-color': $select.selected.color}"></div>
                                                                    </td>
                                                                    <td>{{$select.selected.sn}}</td>
                                                                </tr>
                                                            </table>
                                                        </ui-select-match>
                                                        <ui-select-choices repeat="tker in VM.trackers track by $index"
                                                                           refresh="refreshAddresses($select.search)"
                                                                           refresh-delay="0">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <div ng-style="{width: '15px', height: '15px', 'margin-right':'10px', 'background-color': tker.color}"></div>
                                                                    </td>
                                                                    <td>
                                                                        <span ng-bind-html="tker.sn | highlight: $select.search" style="font-weight: 600; margin-right: 10px;"></span>
                                                                    </td>
                                                                    <td>
                                                                        <span style="margin-right: 10px">-</span>
                                                                    </td>
                                                                    <td>
                                                                        <span ng-bind-html="tker.name | highlight: $select.search"></span>
                                                                        <span ng-if="tker.autostartTemplateName">(AutoStart Template:{{tker.autostartTemplateName}})</span>
                                                                        <span ng-if="!tker.autostartTemplateName" class="text-danger">(No assigned AutoStart Template)</span>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                    <small ng-if="VM.tracker">
                                                        <span ng-if="VM.tracker.autostartTemplateId">AutoStart Template: {{VM.tracker.autostartTemplateName}}</span>
                                                        <span ng-if="!VM.tracker.autostartTemplateId" class="text-danger">This tracker has no assigned AutoStart Template</span>
                                                    </small>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-actions text-center ab">
                                            <button class="btn green" form="frmAddNewShipment" ng-click="VM.createNewAutoStartShipment(frmAddNewShipment.$valid)" type="submit">Create Manual Shipment</button>
                                            <button class="btn default" type="button" ng-click="VM.ResetForm()">Reset</button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>