<div class="panel-body">
    <h4>Please enter time begin/end to simulate</h4>
</div>
<hr/>
<div class="panel-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>From</label>
                    <input type="text" class="form-control" placeholder="From" ng-model="VME.startTime">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>To</label>
                    <input type="text" class="form-control" placeholder="To" ng-model="VME.endTime">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Velosity</label>
                    <input type="text" class="form-control" placeholder="Velosity" ng-model="VME.velosity">
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <button type="button" class="btn btn-default" ng-click="VME.cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="VME.startSim()">Ok</button>
    </div>
</div>
