<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <img src="theme/img/headerTrackerGroup.png" />
            <span>Add a tracker group</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="container-fluid" style="padding-top: 15px; padding-bottom:15px">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <form class="form" name="frmAddGroup">
                        <div class="form-group">
                            <label for="group-name">Group Name:</label>
                            <i uib-tooltip="A short name for this group of trackers (20 char max)"
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                            <input class="form-control" name="groupName" id="group-name" ng-maxlength="20" ng-model="AddGroup.name"
                                   placeholder="Enter a name for group">
                            <span ng-if="frmAddGroup.$invalid">
                                <span class="text-danger" ng-if="frmAddGroup.groupName.$error.maxlength">Name of group must be less than 20</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="group-desc">Group Description:</label>
                            <i uib-tooltip="A longer description for this group of trackers"
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                            <input class="form-control", id="group-desc" ng-model="AddGroup.description"
                                   name="description" ng-maxlength="50" placeholder="Enter a description for group">
                            <span ng-if="frmAddGroup.$invalid">
                                <span class="text-danger" ng-if="frmAddGroup.description.$error.maxlength">Description of group must be less than 50</span>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-4">
                    <form class="form">
                        <label>Add tracker(s) to group</label>
                        <i uib-tooltip="The number<and name> of trackers belonging to this group"
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <ui-select multiple sortable="true" close-on-select="false"
                                   ng-model="AddGroup.deviceListToAdd"
                                   theme="select2"
                                   ng-disabled="disabled"
                                   style="width:100%">
                            <ui-select-match placeholder="Select Device to add">{{$item.sn}}&lt;{{$item.name}}&gt;</ui-select-match>
                            <ui-select-choices repeat="device in AddGroup.deviceList | propsFilter: {name: $select.search, sn: $select.search}">
                                <div ng-bind-html="device.sn | highlight: $select.search"></div>
                                <small>{{device.name}}</small>
                            </ui-select-choices>
                        </ui-select>
                    </form>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn green" type="submit" ng-click="AddGroup.addGroup(this)">Save</button>
                <button class="btn green" type="submit" ng-click="AddGroup.cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
