<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <img src="../../theme/img/headerTrackers.png" />
            <span>Add a new tracker groups</span>
        </div>
    </div>
    <div class="portlet-body form">
        <div class="container-fluid" style="padding-top: 15px; padding-bottom:15px">
            <div class="row">
                <div class="col-md-6 col-sm-8">
                    <form class="form" name="frmAddGroup">
                        <div class="form-group">
                            <label for="group-name">Group Name:</label>
                            <input class="form-control" name="groupName" id="group-name" ng-maxlength="20" ng-model="EditGroup.name"
                                   placeholder="Enter a name for group">
                            <span ng-if="frmEditGroup.$invalid">
                                <span class="text-danger" ng-if="frmEditGroup.groupName.$error.maxlength">Name of group must be less than 20</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="group-desc">Group Description:</label>
                            <input class="form-control", id="group-desc" ng-model="EditGroup.description" placeholder="Enter a description for group">
                        </div>
                    </form>
                </div>
                <div class="col-md-6 col-sm-4">
                    <form class="form">
                        <label>Add device(s) to group</label>
                        <ui-select multiple
                                   ng-model="EditGroup.deviceListToAdd"
                                   theme="select2"
                                   ng-disabled="disabled"
                                   style="width:100%">
                            <ui-select-match placeholder="Select Device to add">
                                {{$item.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="device in EditGroup.deviceList | propsFilter: {name: $select.search, imei: $select.search}">
                                <div ng-bind-html="device.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </form>
                </div>
            </div>
            <div class="row text-center">
                <button class="btn green" type="submit" ng-click="EditGroup.saveGroup(this)">Save</button>
                <button class="btn green" type="submit" ng-click="EditGroup.cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
