    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <img style="margin-top:-8px" src="../../theme/img/headerTrackers.png" /> {{Action}}&nbsp;Tracker Details
            </div>
        </div>
        <div class="portlet-body form">
            <div class="container">
                <div class="row">
                    <h3>Tracker Details</h3>
                </div>
                <div class="row"><hr/></div>
                    <div class="row"> <!--Tracker details-->
                        <div class="col-sm-3">
                            <div class="form-group"  ng-if="Action=='Edit'">
                                <label for="trackerNumEdit">Tracker Num
                                    <i tooltip="The unique 6 digit number of this tracker"
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <span class="text-error pull-right">*</span>
                                <input readonly ng-model="tracker.sn"
                                       type="text" id="trackerNumEdit"
                                       class="form-control" placeholder="Tracker Number">
                            </div>
                            <div class="form-group" ng-if="Action=='Add'" ng-form="ngfTrackerNum">
                                <label for="trackerNumAdd">Tracker Num
                                    <i tooltip="The unique 6 digit number of this tracker"
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <span class="text-error pull-right">*</span>
                                <input ng-model="tracker.sn"
                                       minlength="6" maxlength="6"
                                       ng-required="true"
                                       type="number"
                                       name="trackerSN"
                                       id="trackerNumAdd"
                                       class="form-control"
                                       placeholder="Tracker Number">
                                <div role="alert">
                                    <span class="text-danger" ng-show="ngfTrackerNum.trackerSN.$touched && ngfTrackerNum.trackerSN.$invalid">The field is required and length 6</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" ng-form="ngfTrackerName">
                                <label for="trackerName">Tracker Name
                                    <i tooltip="A meaningful name given to this tracker. Can be changed via EDIT button"
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <span class="text-error pull-right">*</span>
                                <input ng-model="tracker.name"
                                       ng-required="true"
                                       name="trackerName"
                                       type="text" id="trackerName"
                                       class="form-control"
                                       placeholder="Tracker Name">
                                <span class="text-danger" ng-show="ngfTrackerName.trackerName.$touched && ngfTrackerName.trackerName.$invalid">This field is required</span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label for="trackerDesc">Description
                                    <i tooltip="Tracker Description"
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <input ng-model="tracker.description" type="text" id="trackerDesc" class="form-control" placeholder="Description">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group" ng-if="Action=='Edit'">
                                <label for="trackerImeiEdit">IMEI
                                    <i tooltip="Tracker IMEI 15 digits"
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <span class="text-error pull-right">*</span>
                                <input readonly ng-model="tracker.imei" type="text" id="trackerImeiEdit" class="form-control" placeholder="Tracker imei">
                            </div>
                            <div class="form-group" ng-if="Action=='Add'" ng-form="ngfTrackerImei">
                                <label for="trackerImeiAdd">IMEI
                                    <i tooltip="Tracker IMEI 15 digits"
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <span class="text-error pull-right">*</span>
                                <input ng-model="tracker.imei"
                                       name="trackerImei"
                                       ng-required="true"
                                       ng-minlength="15"
                                       type="number" id="trackerImeiAdd"
                                       class="form-control"
                                       placeholder="Tracker imei">
                                <span class="text-danger" ng-show="ngfTrackerImei.trackerImei.$touched && ngfTrackerImei.trackerImei.$invalid">This field is required and length is 15</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="autoStartTemplate">AutoStart Template
                                    <i tooltip="The Autostart Template assigned to this tracker.
                                     An Autostart Template provides default shipment data when a tracker is switched on.
                                      This default data can be overwritten by entering actual shipment data via NewShipment."
                                       tooltip-append-to-body="true"
                                       tooltip-trigger="mouseenter"
                                       tooltip-placement="top"
                                       class="fa fa-info-circle"/>
                                </label>
                                <select id="autoStartTemplate"
                                        class="form-control"
                                        ng-options="shipment as shipment.shipmentTemplateName
                                         for shipment in AutoStartShipmentList track by shipment.id"
                                        ng-model="tracker.autoStartShipment">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid form-actions text-center">
                        <button class="btn green" ng-click="saveTracker()">Save</button>
                        <button class="btn default" ng-click="confirmCancel()">Cancel</button>
                    </div>

                <div class="" ng-if="Action==='Edit'">
                    <div class="row">
                        <h3>Last Reading / Latest Shipment</h3>
                    </div>
                    <div class="row"><hr/></div>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5>Last Reading
                                <i tooltip="The time of the last known reading for this tracker."
                                   tooltip-append-to-body="true"
                                   tooltip-trigger="mouseenter"
                                   tooltip-placement="top"
                                   class="fa fa-info-circle"/>
                            </h5>
                            <span>{{tracker.lastReadingTime}}</span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Temperature
                                <i tooltip="The temperature for this last reading."
                                   tooltip-append-to-body="true"
                                   tooltip-trigger="mouseenter"
                                   tooltip-placement="top"
                                   class="fa fa-info-circle"/>
                            </h5>
                            <span>{{tracker.lastReadingTemperature}}</span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Battery
                                <i tooltip="The battery level for this last reading"
                                   tooltip-append-to-body="true"
                                   tooltip-trigger="mouseenter"
                                   tooltip-placement="top"
                                   class="fa fa-info-circle"/>
                            </h5>
                            <span>{{tracker.lastReadingBattery | volt}}</span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Latest Shipment
                                <i tooltip="The Tracker Number and Trip Number of the most recent shipment for this tracker. Click the link to view shipment details."
                                   tooltip-append-to-body="true"
                                   tooltip-trigger="mouseenter"
                                   tooltip-placement="top"
                                   class="fa fa-info-circle"/>
                            </h5>
                            <span><a href="#/view-shipment-detail/{{tracker.lastShipmentId}}">
                                <u>{{tracker.shipmentNumber}}</u>
                            </a></span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Shipment Status
                                <i tooltip="The status of this most recent shipment.
                                 An 'InProgress' status is an active shipment with manually entered shipment data.
                                  A 'Default' status is an active shipment generated via an Autostart Template.
                                   An 'Arrived' status is a shipment that has reached its destination.
                                 An 'Ended' status is a shipment that has ended but has no known destination."
                                   tooltip-append-to-body="true"
                                   tooltip-trigger="mouseenter"
                                   tooltip-placement="top"
                                   class="fa fa-info-circle"/>
                            </h5>
                            <span>{{tracker.shipmentStatus}}</span>
                        </div>
                        <div class="col-sm-2" ng-if="getRole() >= roles.Normal">
                            <button type="button" class="btn green" ng-click="confirmShutdown()">Shutdown Now</button>
                        </div>
                    </div>
                    <div ng-if="getRole() > roles.Admin">
                        <div class="row">
                            <h3>Billing</h3>
                        </div>
                        <div class="row"><hr/></div>
                        <div class="row" ng-if="tracker.active">
                            <div class="col-sm-3">
                                <strong>Activated</strong>
                            </div>
                            <div class="col-sm-3">
                                <h5>Activation Date</h5>
                                <span>7:22am 12 Mar 2016</span>
                            </div>
                            <div class="col-sm-2 pull-right">
                                <button class="btn green" ng-click="confirmDeactive()">Deactivate Now</button>
                            </div>
                        </div>
                        <div class="row" ng-if="!tracker.active">
                            <div class="col-sm-3">
                                <strong>Deactivated</strong>
                            </div>
                            <div class="col-sm-3">
                                <h5>Deactivation Date</h5>
                                <span>-</span>
                            </div>
                            <div class="col-sm-6 pull-right">
                                <span>Please contact <a href="mailto:support@smarttrace.com"><u><strong>support@smartTrace.com.au</strong></u></a> to reactivate this device</span>
                            </div>
                        </div>
                        <div class="row">
                        </div>
                    </div>
                </div>
                <div class="form-actions"></div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="confirmDeactive" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure you want to deactivate this device? There is a re-connection fee and a 24hr delay if you need to reactivate it later</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="deactivateNow()">Deactivate</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="confirmShutdown" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Are you sure want to shut this device down?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="shutdownNow()">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="confirmModel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Any unsaved changes will be lost including delete, are you sure you want to cancel?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="DeleteDevice()">Ok</button>
                </div>
            </div>
        </div>
    </div>