    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-bell"></i> {{Action}}&nbsp;Tracker Details
            </div>
            <!--<div class="pull-right" ng-if="fromModalPopup">
                <button type="button" style="vertical-align:middle;color:white" class="close" ng-click="close()">Close</button>
            </div>-->
        </div>
        <div class="portlet-body form">
            <div class="container">
                <div class="row">
                    <h3>Tracker Details</h3>
                </div>
                <div class="row"><hr/></div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="trackerNum">Tracker Num</label>
                            <input ng-model="tracker.sn" type="text" id="trackerNum" class="form-control" placeholder="Tracker Number">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="trackerName">Tracker Name</label>
                            <input ng-model="tracker.name" type="text" id="trackerName" class="form-control" placeholder="Tracker Name">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="trackerDesc">Description</label>
                            <input ng-model="tracker.description" type="text" id="trackerDesc" class="form-control" placeholder="Description">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="trackerImei">IMEI</label>
                            <input ng-model="tracker.imei" type="text" id="trackerImei" class="form-control" placeholder="Tracker imei">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="autoStartTemplate">AutoStart Template</label>
                            <select id="autoStartTemplate"
                                    class="form-control"
                                    ng-options="shipment as shipment.shipmentDescription
                                     for shipment in AutoStartShipmentList track by shipment.id"
                                    ng-model="tracker.autoStartShipment">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="" ng-if="Action==='Edit'">
                    <div class="row">
                        <h3>Last Reading / Last Shipment</h3>
                    </div>
                    <div class="row"><hr/></div>
                    <div class="row">
                        <div class="col-sm-2">
                            <h5>Last Reading</h5>
                            <span>7:22am 12 Mar 2016</span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Temperature</h5>
                            <span>6.03</span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Battery</h5>
                            <span>4.1V</span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Last Shipment</h5>
                            <span><u>233(4)</u></span>
                        </div>
                        <div class="col-sm-2">
                            <h5>Shipment Status</h5>
                            <span>Default</span>
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn green">Shutdown Now</button>
                        </div>
                    </div>
                    <div class="row">
                        <h3>Billing</h3>
                    </div>
                    <div class="row"><hr/></div>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Activated</strong>
                        </div>
                        <div class="col-sm-3">
                            <h5>Activation Date</h5>
                            <span>7:22am 12 Mar 2016</span>
                        </div>
                        <div class="col-sm-3">
                            <h5>Deactivation Date</h5>
                            <span>-</span>
                        </div>
                        <div class="col-sm-2 pull-right">
                            <button class="btn green">Deactivate Now</button>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </div>

            </div>
            <div class="container-fluid form-actions text-center">
                <button class="btn green" ng-click="saveTracker()">Save</button>
                <button class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="confirmModel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Any unsaved changes will be lost including delete, are you sure you want to cancel?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="WarnUserAndRedirectToListPage()">Ok</button>
                </div>
            </div>
        </div>
    </div>