<div class="portlet box green clearfix" ng-init="Init()">
    <div class="portlet-title">
        <div class="caption">
            <img style="margin-top:-8px" src="../../theme/img/headerTrackers.png" />List of Trackers
        </div>
        <div class="tools hidden-print">
            <button class="btn default btn-sm uppercase" type="button" ng-click="Print()">
                <i class="fa fa-print"></i>
                <span>Print</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-left">Show
            <select class="form-control" style="width:auto;display:inline-block" ng-change="PageSizeChanged()" ng-model="PageSize">
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
         <div ng-if="getRole() >= roles.SmartTraceAdmin" class="pull-right">
            <a class="btn btn-default pull-right" href="/#/add-tracker">
                <i class="fa fa-plus"></i>&nbsp;Add New Tracker
            </a>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center" ng-click="Sorting('sn')">
                        <span class="pull-left">Tracker Num
                            <i tooltip="The unique 6 digit number of this tracker."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='sn'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='sn'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('name')">
                        <span class="pull-left">Tracker Name
                            <i tooltip="A meaningful name given to this tracker. Can be changed via EDIT button."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='name'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='name'}"><i class="fa fa-sort-desc"/></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('autostartTemplateName')">
                        <span class="pull-left">Autostart Template
                            <i tooltip="The Autostart Template assigned to this tracker. An Autostart Template provides default shipment data when a tracker is switched on. This default data can be overwritten by entering actual shipment data via NewShipment."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='name'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='name'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('active')">
                        <span class="pull-left">Active
                            <i tooltip="Active trackers are available for usage. Inactive trackers can be re-activated by contacting SmartTrace."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('shipmentNumber')">
                        <span class="pull-left">Latest Shipment
                            <i tooltip="The Tracker Number and Trip Number of the most recent shipment for this tracker. Click the link to view shipment details."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='shipmentNumber'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='shipmentNumber'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('shipmentStatus')">
                        <span class="pull-left">Status
                            <i tooltip="The status of latest shipment."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='shipmentStatus'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='shipmentStatus'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('lastReadingTimeISO')">
                        <span class="pull-left">Last Reading
                            <i tooltip="The time of the last known reading for this tracker."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='lastReadingTimeISO'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='lastReadingTimeISO'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('lastReadingTemperature')">
                        <span class="pull-left">Temp.
                            <i tooltip="The temperature for this last reading."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='lastReadingTemperature'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='lastReadingTemperature'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('lastReadingBattery')">
                        <span class="pull-left">Battery
                            <i tooltip="The Battery level at the last reading.
                                A battery alert is sent when the battery has 10% remaining life (3.2V)."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='lastReadingBattery'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='lastReadingBattery'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>

                    <th ng-if="getRole() >= roles.Admin"></th>
                    <!--<th ng-if="getRole() >= roles.SmartTraceAdmin"></th>-->
                </tr>
                <tr ng-repeat="tracker in TrackerList">
                    <td>{{tracker.sn}}</td>
                    <td>{{tracker.name}}</td>
                    <td>
                        <a href="#/manage/edit-autostart-template/{{tracker.autostartTemplateId}}">
                            <u>{{tracker.autostartTemplateName}}</u>
                        </a>
                    </td>

                    <td ng-if="tracker.active==true">
                        <i class="fa fa-check"/>
                    </td>
                    <td ng-if="tracker.active==false">
                        <i class="fa fa-times"/>
                    </td>
                        <td>
                            <a href="#view-shipment-detail?sn={{tracker.sn}}&trip={{tracker.tripCount}}" ng-if="tracker.lastShipmentId!=null">
                                <u>{{tracker.sn}} ({{tracker.tripCount}})</u>
                            </a>
                        </td>
                        <td>{{tracker.shipmentStatus}}
                            <i ng-if="tracker.shipmentStatus=='InProgress'"
                               tooltip="An active shipment with manually entered shipment data."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                            <i ng-if="tracker.shipmentStatus=='Default'"
                               tooltip="An active shipment generated via an Autostart Template."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                            <i ng-if="tracker.shipmentStatus=='Arrived'"
                               tooltip="A shipment that has reached its destination."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                            <i ng-if="tracker.shipmentStatus=='Ended'"
                               tooltip="A shipment that has ended but has no known destination."
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </td>
                        <td ng-if="tracker.lastReadingTime!=null">
                            <span ng-if="tracker.lastShipmentId!=null">{{tracker.lastReadingTime}}</span>
                        </td>
                        <td ng-if="tracker.lastReadingTime==null">
                            <span ng-if="tracker.lastShipmentId!=null">
                                {{tracker.lastReadingTimeISO | friendlyDate | date:'h:mma dd MMM yyyy'}}
                            </span>
                        </td>
                        <td>
                            <span ng-if="tracker.lastShipmentId!=null">{{tracker.lastReadingTemperature}}</span>
                        </td>
                        <td>
                            <span ng-if="tracker.lastShipmentId!=null">{{tracker.lastReadingBattery | volt}}</span>
                        </td>

                    <td class="text-center" ng-if="getRole() >= roles.Admin">
                        <a class="btn green" href="/#/edit-tracker/{{tracker.imei}}"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                    </td>
                    <!--<td class="text-center" ng-if="getRole() >= roles.SmartTraceAdmin">
                        <a class="btn green" ng-click="confirm(tracker.imei);"><i class=" fa fa-remove"></i>&nbsp;Delete</a>
                    </td>-->

                </tr>
            </table>
        </div>
        <pagination class="pagination-sm"
                    max-size="5"
                    on-select-page="PageChanged(page)"
                    total-items="TrackerList.totalCount"
                    page="PageIndex"
                    items-per-page="PageSize"
                    boundary-links="true"
                    rotate="false"
                    first-text="<<" last-text=">>" next-text=">" previous-text="<"/>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="confirmModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure to want to delete this tracker?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="DeleteDevice()">Ok</button>
            </div>
        </div>
    </div>
</div>