<div class="portlet box green clearfix" ng-init="Init()">
    <div class="portlet-title">
        <div class="caption">
            <img style="margin-top:-8px" src="../../theme/img/headerTrackers.png" />List of Trackers
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-left">Show
            <select class="form-control" style="width:auto;display:inline-block" ng-change="PageSizeChanged()" ng-model="PageSize">
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
         <div ng-if="isGlobalAdmin()" class="pull-right">
            <a class="btn btn-default pull-right" href="/#/add-tracker">
                <i class="fa fa-plus"></i>&nbsp;Add New Tracker
            </a>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th class="text-center" ng-click="Sorting('sn')">
                        <span class="pull-left">Tracker Num
                            <i tooltip="The unique 6 digit number on each tracker" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="top" class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='sn'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='sn'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('name')">
                        <span class="pull-left">Tracker Name
                            <i tooltip="A meaningful short name you assign to each tracker" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="top" class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='name'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='name'}"><i class="fa fa-sort-desc"/></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('autostartTemplateName')">
                        <span class="pull-left">Autostart Template
                            <i tooltip="Autostart Template that assigned to each tracker"
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='name'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='name'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('active')">
                        <span class="pull-left">Active
                            <i tooltip="Active trackers are available for usage" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="top" class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('lastReadingTimeISO')">
                        <span class="pull-left">Last Reading
                            <i tooltip="Active trackers are available for usage" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="top" class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('lastReadingTemperature')">
                        <span class="pull-left">Temp.
                            <i tooltip="Active trackers are available for usage" tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="top" class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('lastReadingBattery')">
                        <span class="pull-left">Battery
                            <i tooltip="Active trackers are available for usage"
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('sn')">
                        <span class="pull-left">Shipment Num
                            <i tooltip="Active trackers are available for usage"
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"/>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center" ng-click="Sorting('shipmentStatus')">
                        <span class="pull-left">Status
                            <i tooltip="Active trackers are available for usage"
                               tooltip-append-to-body="true"
                               tooltip-trigger="mouseenter"
                               tooltip-placement="top"
                               class="fa fa-info-circle"></i>
                        </span>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='active'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='active'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-if="isAdmin() || isGlobalAdmin()"></th>
                    <th ng-if="isGlobalAdmin()"></th>
                </tr>
                <tr ng-repeat="tracker in TrackerList">
                    <td>{{tracker.sn}}</td>
                    <td>{{tracker.name}}</td>
                    <td>
                        <a href="#/manage/edit-autostart-template/{{tracker.autostartTemplateId}}">
                            <u>{{tracker.autostartTemplateName}}</u>
                        </a>
                    </td>

                    <td ng-if="tracker.active==true">
                        <i class="fa fa-check"/>
                    </td>
                    <td ng-if="tracker.active==false">
                        <i class="fa fa-times"/>
                    </td>

                    <td ng-if="tracker.lastReadingTime!=null">
                        {{tracker.lastReadingTime}}
                    </td>
                    <td ng-if="tracker.lastReadingTime==null">
                        {{tracker.lastReadingTimeISO | friendlyDate | date:'h:mma dd MMM yyyy'}}
                    </td>

                    <td ng-bind="tracker.lastReadingTemperature"></td>
                    <td>{{tracker.lastReadingBattery | volt}}</td>
                    <td><a href="#view-shipment-detail/{{tracker.lastShipmentId}}"><u>{{tracker.shipmentNumber}}</u></a></td>
                    <td ng-bind="tracker.shipmentStatus"></td>

                    <td class="text-center" ng-if="isAdmin() || isGlobalAdmin()">
                        <a class="btn green" href="/#/edit-tracker/{{tracker.imei}}"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                    </td>
                    <td class="text-center" ng-if="isGlobalAdmin()">
                        <a class="btn green" ng-click="confirm(tracker.imei);"><i class=" fa fa-remove"></i>&nbsp;Delete</a>
                    </td>

                </tr>
            </table>
        </div>
        <pagination class="pagination-sm"
                    max-size="5"
                    on-select-page="PageChanged(page)"
                    total-items="TrackerList.totalCount"
                    page="PageIndex"
                    items-per-page="PageSize"
                    boundary-links="true"
                    rotate="false"
                    first-text="<<" last-text=">>" next-text=">" previous-text="<"/>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="confirmModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to delete this tracker?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="DeleteDevice()">Ok</button>
            </div>
        </div>
    </div>
</div>
