
<!--<h3 class="page-title" ng-init="Init()">
    Alert Profiles
</h3>-->
<div class="portlet box green " ng-init="Init()">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-bell"></i>
            <span>List of alert profiles</span>
        </div>
        <div class="tools hidden-print">
            <button class="btn default btn-sm uppercase" type="button" ng-click="Print()">
                <i class="fa fa-print"></i>
                <span>Print</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-left hidden-print">
            <span>Show</span>
            <select class="form-control" style="width:auto;display:inline-block" ng-change="PageSizeChanged()" ng-model="PageSize">
                <option value="20" selected>20</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="pull-right hidden-print">
            <a class="btn btn-default pull-right" href="/#/manage/add-alert"><i class="fa fa-plus"></i>&nbsp;Add New Alert Profile</a>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th ng-click="Sorting('alertProfileName')">
                        <span class="pull-left">Alert Profile Name</span>
                        <i uib-tooltip="A short name for this alert profile."
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"/>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='alertProfileName'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='alertProfileName'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('alertProfileDescription')">
                        <span class="pull-left">Description</span>
                        <i uib-tooltip="A longer description for this alert profile."
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"/>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='alertProfileDescription'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='alertProfileDescription'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('alertRuleList')">
                        <span class="pull-left">Alert Rules</span>
                        <i uib-tooltip="A list of rule that may apply to this alert profie."
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='alertRuleList'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='alertRuleList'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="text-center hidden-print"></th>
                    <th class="text-center hidden-print"></th>
                </tr>
                <tr ng-repeat="alert in AlertList">
                    <td ng-bind="alert.alertProfileName"></td>
                    <td ng-bind="alert.alertProfileDescription"></td>
                    <td>
                        <span>
                            {{alert.rule}}
                        </span>
                    </td>
                    <td class="text-center hidden-print">
                        <a class="btn green" href="/#/manage/edit-alert/{{alert.alertProfileId}}"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                    </td>
                    <td class="text-center hidden-print">
                        <!--<a class="btn green" ng-click="confirm();DeleteAlertProfile(alert.alertProfileId)"><i class="fa fa-remove"></i>&nbsp;Delete</a>-->
                        <a class="btn green" ng-click="confirm(alert.alertProfileId);"><i class=" fa fa-remove"></i>&nbsp;Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <uib-pagination class="pagination-sm" max-size="5" on-select-page="PageChanged(page)" total-items="AlertList.totalCount" page="PageIndex" items-per-page="PageSize" boundary-links="true" rotate="false" first-text="<<" last-text=">>" next-text=">" previous-text="<"></uib-pagination>
    </div>
</div>
<div class="modal fade" tabindex="-1" id="confirmModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Do you want to delete this alert profile ?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="DeleteAlertProfile()">Ok</button>
            </div>
        </div>
    </div>
</div>
