<div class="portlet box green clearfix" ng-init="Init()">
    <div class="portlet-title">
        <div class="caption">
            <img style="margin-top:-8px" src="theme/img/headerAutostartTemplate.png" />  List of autostart templates
        </div>
        <div class="tools hidden-print">
            <button class="btn default btn-sm uppercase" type="button" ng-click="Print()">
                <i class="fa fa-print"></i>
                <span>Print</span>
            </button>
        </div>
    </div>
    <div class="portlet-body">
        <div class="pull-left">
            Show
            <select class="form-control" style="width:auto;display:inline-block"
                    ng-change="PageSizeChanged()" ng-model="PageSize">
                <option value="20" selected>
                    20
                </option>
                <option value="50">
                    50
                </option>
                <option value="100">
                    100
                </option>
            </select>
        </div>
        <div class="pull-right hidden-print">
            <a class="btn btn-default pull-right" ng-href="#/manage/add-autostart-template">
                <i class="fa fa-plus"></i>&nbsp;Add New Autostart Template</a>
        </div>
        <div class="clearfix"></div>
        <br />
        <hr />
        <div class="clearfix"></div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <tr>
                    <th ng-click="Sorting('shipmentTemplateName')">
                        <span class="pull-left">Autostart Template</span>
                        <i uib-tooltip="A name for this autostart template"
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='shipmentTemplateName'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='shipmentTemplateName'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('shipmentDescription')">
                        <span class="pull-left">Shipment description</span>
                        <i uib-tooltip="A default 'Shipment Description' assigned to shipments created with this template"
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='shipmentDescription'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='shipmentDescription'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('startLocations')">
                        <span class="pull-left">Shipped from</span>
                        <i uib-tooltip="Possible locations when detecting the 'Start Location' for shipments created by this template."
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='startLocations'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='startLocations'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('endLocations')">
                        <span class="pull-left">Shipped to</span>
                        <i uib-tooltip="Possible locations when detecting the Destination for shipments created by this template."
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='endLocations'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='endLocations'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th ng-click="Sorting('alertProfileName')">
                        <span class="pull-left">Alert profile</span>
                        <i uib-tooltip="The alert profile to be used for shipments created by this template."
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                        <span class="pull-right" style="position:relative;">
                            <a ng-class="{'active-sort':So=='asc' && Sc=='alertProfileName'}"><i class="fa fa-sort-asc" style="position:absolute"></i></a>
                            <a ng-class="{'active-sort':So=='desc' && Sc=='alertProfileName'}"><i class="fa fa-sort-desc"></i></a>
                        </span>
                    </th>
                    <th class="hidden-print"></th>
                    <th class="hidden-print"></th>
                </tr>
                <tr ng-repeat="shipment in AutoStartShipmentList">
                    <td>
                        {{shipment.shipmentTemplateName}}
                    </td>
                    <td>x
                        {{shipment.shipmentDescription}}
                    </td>
                    <td>{{shipment.startLocationNames | arrayToString}}</td>
                    <td>{{shipment.endLocationNames | arrayToString}}</td>
                    <td>
                        {{shipment.alertProfileName}}
                    </td>
                    <td class="text-center hidden-print" width="5%">
                        <a class="btn green" ng-href="#/manage/edit-autostart-template/{{shipment.id}}"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
                    </td>
                    <td class="text-center hidden-print" width="5%">
                        <a class="btn green" ng-click="confirmDelete(shipment.id)"><i class="fa fa-remove"></i>&nbsp;Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <ul uib-pagination total-items="ShipmentTemplateList.totalCount"
                        items-per-page="PageSize"
                        boundary-links="true"
                        ng-model="PageIndex" ng-change="PageChanged()"
                        first-text="<<" last-text=">>" next-text=">" previous-text="<"></ul>

        <!--<uib-pagination class="pagination-sm" max-size="5"
                        on-select-page="PageChanged(page)"
                        total-items="ShipmentTemplateList.totalCount"
                        page="PageIndex" items-per-page="PageSize"
                        boundary-links="true" rotate="false"
                        first-text="<<" last-text=">>" next-text=">" previous-text="<">
            
        </uib-pagination>-->
    </div>
</div>
