<!--<h3 class="page-title" ng-init="Init()">
    Users
</h3>-->
<div class="portlet box green " ng-init="Init()" style="margin: 0%">
    <div class="portlet-title">
        <div class="caption">
            <img style="margin-top:-8px" src="theme/img/user.png" />User Details
        </div>
    </div>
    <div class="portlet-body">
                <div class="row user-detail ">
	              			<div class="col-md-10 portlet-body" style="padding: 0% 0% 0% 25%">
	              				<h5>Name:</h5> {{User.firstName}} &nbsp; {{User.lastName}}<br>
								<br>
	              				<h5>Position:</h5>{{User.position}}<br>
								<br>
	              				<h5>Company:</h5>{{User.internalCompany}}<br>
								<br>
	              				<h5>Email:</h5>{{User.email}}<br>
								<br>
	              				<h5>Mobile:</h5>{{User.phone}}<br>
								<br>
	              				<h5>SmartTrace Role:</h5>{{User.roles.join()}}<br>
	              				<br>
	              				<p style="color:#5BCA45; margin: 0%">User details can be edited by contacting your company's SmartTrace Admin</p>
	              			</div>
                </div>
		<div class="modal-footer" style="margin: 0%; padding: 2%">
			<!--<button type="button" class="btn green" ng-click="cancel()">Ok</button>-->
			<button type="button" class="btn default" ng-click="cancel()">Cancel</button>
		</div>
</div>
