    <div class="modal-header">
        <strong>Edit Shipment Description</strong>
        <a href="#/view-shipment-detail?sn={{shipment.deviceSN}}&trip={{shipment.tripCount}}"><u>{{shipment.deviceSN}}({{shipment.tripCount}})</u></a>
        <span class="pull-right btn-close" ng-click="cancelEdit()">&times;</span>
    </div>
    <div class="modal-body">
        <form class="form" name="frmEditDescription">
            <div class="form-group">
                <label for="shipmentDescription">Shipment Description</label>
                <textarea ng-model="shipment.shipmentDescription"
                          id="shipmentDescription"
                          name="description"
                          ng-maxlength="120"
                          class="form-control"
                          name="shipmentDescription"/>
                <span ng-if="frmEditDescription.$invalid" ng-cloak>
                    <span ng-cloak class="text-danger" ng-if="frmEditDescription.description.$error.maxlength">
                        Error. The description field can not exceed 120 chars
                    </span>
                </span>
            </div>
            <button type="submit" class="btn green" ng-disabled="frmEditDescription.$invalid" ng-click="saveShipment()">Save</button>
            <button type="submit" class="btn green" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>