    <div class="panel-heading">
        <strong>Edit Shipment Comment</strong>
        <a href="#/view-shipment-detail?sn={{shipment.deviceSN}}&trip={{shipment.tripCount}}"><u>{{shipment.deviceSN}}({{shipment.tripCount}})</u></a>
    </div>
    <div class="panel-body">
        <form class="form" name="frmEditComment">
            <div class="form-group">
                <label for="shipmentComment">Comments For Receiver</label>
                <textarea ng-model="shipment.commentsForReceiver"
                          id="shipmentComment"
                          name="comment"
                          ng-maxlength="300"
                          class="form-control"
                          name="shipmentDescription"/>
                <span ng-if="frmEditComment.$invalid" ng-cloak>
                    <span ng-cloak class="text-danger" ng-if="frmEditComment.comment.$error.maxlength">
                        Error. The comment field can not exceed 300 chars
                    </span>
                </span>
            </div>
            <button type="submit" class="btn green" ng-disabled="frmEditComment.$invalid" ng-click="saveShipment()">Save</button>
            <button type="submit" class="btn green" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>