<div class="modal-header green">
    <i class="fa fa-flag-checkered" aria-hidden="true" style="font-size: 20px"></i>
    <span>Edit arrival details for shipment {{VM.shipment.deviceSN}} ({{VM.shipment.tripCount}})</span>
    <span class="pull-right" style="cursor: pointer" ng-click="VM.cancel()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Arrival notification</label>
                <i uib-tooltip="Arrival notification for this shipment"
                   tooltip-append-to-body="true"
                   tooltip-trigger="mouseenter"
                   tooltip-placement="top"
                   class="fa fa-info-circle"></i>
                <select class="form-control" ng-disabled="true">
                    <option value="">-- Please select a notification --</option>
                </select>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">
                    <span>Schedule(s) For Arrival notification</span>
                    <i uib-tooltip="Schedule(s) For Arrival notification"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <select class="form-control" ng-disabled="true">
                    <option value="">-- Please select notification schedule(s) --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <label class="control-label">Shutdown Device On Arrival
                <i uib-tooltip="Shutdown device after minutes"
                   tooltip-append-to-body="true"
                   tooltip-trigger="mouseenter"
                   tooltip-placement="top"
                   class="fa fa-info-circle"></i>
            </label>
            <select class="form-control " ng-model="VM.shipment.shutdownDeviceAfterMinutes">
                <option value="">Don't Shutdown on Arrival</option>
                <option value="0">Shutdown upon Arrival</option>
                <option value="60">Shutdown After 1 hr at destination</option>
                <option value="120">Shutdown After 2 hr at destination</option>
                <option value="240">Shutdown After 4 hr at destination</option>
                <option value="480">Shutdown After 8 hr at destination</option>
            </select>
        </div>
        <div class="col-sm-6">
            <label class="control-label">
                Shutdown Device After Time Period
                <i uib-tooltip="Shutdown after start minutes"
                   tooltip-append-to-body="true"
                   tooltip-trigger="mouseenter"
                   tooltip-placement="top"
                   class="fa fa-info-circle"></i>
            </label>
            <select class="form-control" ng-model="VM.shipment.shutDownAfterStartMinutes">
                <option value="">Don't shutdown after time period</option>
                <option value="240">Shutdown 4 hrs after start</option>
                <option value="480">Shutdown 8 hrs after start</option>
                <option value="720">Shutdown 12 hrs after start</option>
                <option value="1080">Shutdown 18 hrs after start</option>
                <option value="1440">Shutdown 1 day after start</option>
                <option value="2880">Shutdown 2 days after start</option>
                <option value="4320">Shutdown 3 days after start</option>
                <option value="7200">Shutdown 5 days after start</option>
                <option value="14400">Shutdown 10 days after start</option>
                <option value="28800">Shutdown 20 days after start</option>
            </select>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn green" ng-click="VM.saveShipment()">Save</button>
    <button type="button" class="btn default" ng-click="VM.cancel()">Cancel</button>
</div>