<div class="modal-header green">
    <i class="fa fa-archive" aria-hidden="true" style="font-size: 20px"></i>
    <span>Edit route for shipment {{VM.shipment.deviceSN}} ({{VM.shipment.tripCount}})</span>
    <span class="pull-right" style="cursor: pointer" ng-click="VM.cancel()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
</div>
<div class="modal-body">
    <form name="frmEditGoods">
        <div class="row">
            <div class="col-md-6">
                <label class="control-label">
                    <span>Shipment From:</span>
                    <i uib-tooltip="Shipment from"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <select class="form-control"
                        ng-change="GetShippedFromAddress()"
                        ng-model="VM.shipment.shippedFrom"
                        ng-options="location.locationId as location.DisplayText for location in VM.FromLocationList">
                    <option value="">-- Please Select --</option>
                </select>
                <small class="text-muted">
                    {{VM.shippedFromAddress}}
                </small>
            </div>
            <div class="col-md-6">
                <label class="control-label">
                    <span>Shipment To:</span>
                    <i uib-tooltip="Shipment to"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <select class="form-control"
                        ng-change="GetShippedToAddress()"
                        ng-model="VM.shipment.shippedTo"
                        ng-options="location.locationId as location.DisplayText for location in VM.ToLocationList">
                    <option value="">-- Please Select --</option>
                </select>
                <small class="text-muted">
                    {{VM.shippedToAddress}}
                </small>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-6 col-sm-12">
                <label class="control-label">Date Shipped:&nbsp;
                    <i uib-tooltip="Date shipped"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input show-button-bar="false" id="txtDateFrom" type="text" class="form-control"
                                       max="maxDate" placeholder="Select Date" uib-datepicker-popup="dd-MMM-yyyy"
                                       is-open="from.opened"
                                       ng-click="from.opened = true";
                                       ng-model="VM.dateTimeFrom" close-text="Close" />
                                <label for="txtDateFrom" class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <uib-timepicker ng-model="VM.dateTimeFrom" show-meridian='true' show-spinners="false"/>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6 col-sm-12">
                <label class="control-label">
                    <span>Arrival Date:</span>
                    <i uib-tooltip="Date arrived"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input show-button-bar="false" id="txtDateTo" type="text" class="form-control"
                                       max="maxDate" placeholder="Select Date" uib-datepicker-popup="dd-MMM-yyyy"
                                       is-open="to.opened"
                                       ng-click="to.opened = true";
                                       ng-model="VM.dateTimeTo" close-text="Close" />
                                <label for="txtDateTo" class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </label>
                            </div>
                        </td>
                        <td>
                            <uib-timepicker ng-model="VM.dateTimeTo" show-meridian='true' show-spinners="false" />
                        </td>
                    </tr>
                </table>

            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-md-3 col-md-offset-3">
                <div class="form-group">
                    <label class="control-label">
                        <span>Status</span>
                        <i uib-tooltip="Status of the shipment"
                           tooltip-append-to-body="true"
                           tooltip-trigger="mouseenter"
                           tooltip-placement="top"
                           class="fa fa-info-circle"></i>
                    </label>
                    <select  ng-disabled="true" class="form-control" ng-model="VM.shipment.status">
                        <option value="Default">Default</option>
                        <option value="Ended">Ended</option>
                        <option value="Arrived">Arrived</option>
                    </select>
                </div>
            </div>
            <!--<div class="col-md-6" style="margin-top: 30px">
                <input type="checkbox" ng-model="VM.shutdownNow">
                <span>Shutdown Tracker now</span>
                <i uib-tooltip="Tick to shutdown the tracker"
                   tooltip-append-to-body="true"
                   tooltip-trigger="mouseenter"
                   tooltip-placement="top"
                   class="fa fa-info-circle"></i>
            </div>-->
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn green" ng-click="VM.saveShipment()">Save</button>
    <button type="button" class="btn default" ng-click="VM.cancel()">Cancel</button>
</div>