    <div class="panel-heading">
        <strong>Edit Shipment Description</strong>
        <span>{{editId}}</span>
    </div>
    <div class="panel-body">
        <form class="form" name="frmEditDescription">
            <div class="form-group">
                <label for="shipmentId">Shipment ID</label>
                <input id="shipmentId" class="form-control" disabled ng-model="editId">
            </div>
            <div class="form-group">
                <label for="shipmentDescription">Shipment Description</label>
                <textarea ng-model="shipment.shipmentDescription"
                          id="shipmentDescription"
                          name="description"
                          ng-maxlength="120"
                          class="form-control"
                          name="shipmentDescription"/>
                <span ng-if="frmEditDescription.$invalid" ng-cloak>
                    <span ng-cloak class="text-danger" ng-if="frmEditDescription.description.$error.maxlength">
                        Error. The description field can not exceed 120 chars
                    </span>
                </span>
            </div>
            <button type="submit" class="btn green" ng-disabled="frmEditDescription.$invalid" ng-click="saveShipment()">Save</button>
            <button type="submit" class="btn green" ng-click="cancelEdit()">Cancel</button>
        </form>
    </div>
</div>