<div class="modal-header green">
    <i class="fa fa-envelope" aria-hidden="true"></i>
    <span>Share shipment report {{VM.report.sn}} ({{VM.report.trip}})</span>
    <span class="pull-right" style="cursor: pointer" ng-click="VM.cancel()">
        <i class="fa fa-times" aria-hidden="true"></i>
    </span>
</div>
<div class="modal-body">
    <form name="frmShareReport">
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">
                    <span>Recipients (Users):</span>
                    <i uib-tooltip="List of existing user that would receive this share"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <ui-select multiple
                           ng-model="VM.users"
                           theme="select2"
                           ng-disabled="disabled"
                           style="width:100%">
                    <ui-select-match placeholder="Select user for sharing">
                        <div>
                            <span>{{$item.firstName}}</span>
                            <span>{{$item.lastName}}</span>
                            <span>&lt;{{$item.email}}&gt;</span>
                        </div>
                    </ui-select-match>
                    <ui-select-choices repeat="user in VM.userList | propsFilter: {id: $select.search, firstName: $select.search, lastName: $select.search, position:$select.search, roles:$select.search}">
                        <div>
                            <span ng-bind-html="user.firstName | highlight: $select.search"></span>
                            <span ng-bind-html="user.lastName | highlight: $select.search"></span>
                        </div>
                        <small>
                            {{user.email}}
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">
                    <span>Other recipients (emails separated by semi-colon):</span>
                    <i uib-tooltip="List of emails that would receive this share"
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <input type="text" class="form-control" ng-model="VM.emails" placeholder="supports@smarttrace.com.au; tech@smarttrace.com.au">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">
                    <span>Subject:</span>
                    <i uib-tooltip="Subject of the message that recipients would receive."
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <input type="text" class="form-control" ng-model="VM.report.subject">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">
                    <span>Message:</span>
                    <i uib-tooltip="Content of the message that recipients would receive."
                       tooltip-append-to-body="true"
                       tooltip-trigger="mouseenter"
                       tooltip-placement="top"
                       class="fa fa-info-circle"></i>
                </label>
                <textarea type="text"  class="form-control" ng-model="VM.report.messageBody"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn green" ng-click="VM.share()">Share</button>
    <button type="button" class="btn default" ng-click="VM.cancel()">Cancel</button>
</div>